SpringBootForKafka/SoapServer/src/main/resources/User.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.com/users"
           targetNamespace="http://www.example.com/users" elementFormDefault="qualified">

    <xs:element name="processCsvFileRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fileContent" type="xs:base64Binary"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="processCsvFileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>




